.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
[Dd]esktop.ini
$RECYCLE.BIN/
.Trash-*
*~
[._]*.un~
temp/
[Cc]heck[Ll]ist
[Cc]heck[Ll]ist.md
*.txt